{
  "extends": [
    "defaults"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "strict": 0,
    "no-console": 0
  },
  "env": {
    "node": true
  }
}
