{
  "extends": [
    "defaults"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "strict": 0,
    "no-console": 0,
    "no-unused-vars": 0
  },
  "globals": {
    "sinon": true,
    "expect": true
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  }
}
